:root {
  --white: hsl(0, 0%, 100%);
  --main-background: rgb(99, 102, 241);
  --main-color-light: rgb(129, 140, 248);
  --main-color: rgb(79, 70, 229);
  --main-color-dark: rgb(67, 56, 202);
  --black: #0f172a;
  --dark--gray: #94a3b8;
  --light-gray: #cbd5e1;
  --lighter--gray: #f1f5f9;
  --blue-checked: #60a5fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-size: inherit;
  box-sizing: inherit;
}

html {
  height: 100%;
  /* new root value = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--main-background);
  font-family: "Rubik", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #aaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.tasks {
  margin-top: 3rem;
}

.tasks__cnt {
  width: 50rem;
  border-radius: 6px;
  margin: 0 auto;
  background-color: var(--white);
}
.tasks__cnt .tasks__title {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--light-gray);
}
.tasks__cnt .tasks__title .icon {
  width: 20px;
  height: 20px;
}
.tasks__cnt .tasks__title span {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
}

.tasksList {
  list-style: none;
  overflow-y: scroll;
}

.active-tasks__list {
  max-height: 36rem;
}

.task-item {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--lighter--gray);
}
.task-item .task-color {
  display: block;
  width: 3px;
  height: 100%;
  background-color: violet;
  margin-right: 1rem;
  border-radius: 50px;
}
.task-item .checkbox-cnt input[type=checkbox] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.task-item .checkbox-cnt label {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}
.task-item .checkbox-cnt label span {
  content: "";
  font-size: 1.6rem;
  /* To center content inside box */
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  left: 0;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  transition: all 0.2s;
}
.task-item .checkbox-cnt input[type=checkbox]:hover + label span {
  background-color: #f1f5f9;
}
.task-item .checkbox-cnt input[type=checkbox]:checked + label span {
  background-color: var(--blue-checked);
  color: white;
}
.task-item .task-title p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.task-item .task-title .tags {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
}
.task-item .task-title .tags span {
  display: inline-block;
  padding: 0.2rem 0.4em;
  border-radius: 6px;
  color: white;
}
.task-item .task-delete {
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.task-item .task-delete .icon {
  width: 100%;
  height: 100%;
  color: red;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.add-task-form h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.add-task-form-input-cnt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.add-task-form-input-cnt label {
  cursor: pointer;
  font-size: 1.2rem;
}
.add-task-form-input-cnt input {
  border: none;
  border: 1px solid var(--dark--gray);
  border-radius: 5px;
  width: 24rem;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
}
.add-task-form-input-cnt input:focus {
  outline: none;
}

.add-task-cnt {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.add-task-cnt .add-task-btn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-color: var(--main-color);
  background-color: var(--main-color-light);
  padding: 1rem 2rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s;
}
.add-task-cnt .add-task-btn:hover {
  background-color: var(--main-color);
}

.active-tasks__list .default-text {
  border-bottom: 1px solid var(--lighter--gray);
}

.default-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 4rem;
  color: var(--light-gray);
}

.default-text.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
